a {
	color: black;
}

a:hover {
	color: gray;
}

.btn-blk {
	background: black;
	color: white;
	font-size: .5em;
}

.btn-blk:hover {
	background: black;
	color: gray;
}

.hid {
	display: none;
}

.hidlate {
	display: none;
}

#showcase {
	margin-left: 10%;
	margin-right: 10%;
	display: none;
}

#soundbar {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	margin-left: 28%;
	margin-right: 28%;
	margin-bottom: 10%;
}
